.home{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #91DAF7;
    height:100vh;
    font-family: sans-serif;
}


.mainImg{
    width:680px;
    padding: 80px;
    border-radius: 5%;
    padding-left: 0px; 
    margin-left: -30px;
    box-shadow: 5px 4px #333;
    background-color: #fff;
       
   
}
.emailTag{
    padding-right: 350px;
    margin-right: 550px;
}

.userImg{
    width:63px;
}

.newFont{
    font-family: 'Dancing Script', cursive;
}

